.app__navbar{
        position: fixed;
        width: 100%;
        height: 12vh;
        background-color: rgba(237,242,248, 0.9);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 2;

        @media screen  and (max-width: 991px){
                height: 10.5vh;
        }
        
        
}

.app__navbar-container{
        @media screen  and (max-width: 991px){                                                                  //ensure container remains within navbar and never overflows even at maxwidth 991
                position: absolute;
                margin: auto;
                display: block;
                bottom: 0px;
                top: 0px;
                left: 50%;
                transform: translate(-50%, 0);

        }

}

.app__navbar-links{
        margin-left: auto;
        background-color: rgba(237,242,248, .99);
        padding: 1rem;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 0 0 20px 20px;
        
}
.app__navbar-brand{
        display: flex;
        transition: all 0.7s ease-in-out;

        img{
                width: 50px;
                height: 50px;
                transition: all 0.7s ease-in-out;
        
                @media screen and (min-width: 2000px) {
                        width: 80px;
                        height: 80px;
                      }
                  
                @media screen and (max-width: 900px) {
                width: 50px;
                height: 50px;
                }
        
        }

        &:hover,&:active{
               img{
                        transform: rotate(720deg);                                                                       /*rotate logo*/
                }
        }

        

}

.navbar_userInfo,.app__navbar-links,#username{
        display: flex;
        justify-content: center;
        align-items: center;        
        border: none;
}

.app__navbar-links{
        height: 8vh;

        @media screen  and (max-width: 991px){
                height: 100%;
        }
}

.app__navbar-links{
        @media screen  and (max-width: 991px){
                align-items: flex-start;     

        }
}

@media screen and (max-width:990px) {
        #basic-navbar-nav{
                margin-top: 10px;
        }
        
}